* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Arial', sans-serif;
    }

    .logo {
        position: relative;
        width: 80px;
        height: 75px;
        border-radius: 80px;
        box-shadow: 0px 0px 20px 0px #fbff1c ;
        transition: transform 0.6s ease-in-out;
    }

    .logo:hover {
        transform: scale(1.4);
    }

    body {
      background-color: #111;
      color: #fff;
      line-height: 1.6;
    }

    header {
      background: #000;
      text-align: center;
      padding: 2rem 1rem;
    }

    header h1 {
      font-size: 2.5rem;
      color: #FFD700; 
    }

    header p {
      font-size: 1.2rem;
      color: #ccc;
    }

    section {
      max-width: 900px;
      margin: 2rem auto;
      padding: 2rem;
      background: #1c1c1c;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
      transition: transform 0.8s ease-in-out;
      box-shadow: 0px 0px 10px 0px #adadad;
    }
    
    section:hover {
        transform: scale(1.1);
    }

    section h2 {
      margin-bottom: 1rem;
      color: #FFD700;
      font-size: 1.8rem;
      border-bottom: 2px solid #FFD700;
      display: inline-block;
      padding-bottom: 0.3rem;
    }

    section p {
      margin-top: 0.5rem;
      font-size: 1.1rem;
      color: #ddd;
    }

    footer {
        text-align: center;
        padding: 1rem;
        background: #000;
        margin-top: 2rem;
        font-size: 0.9rem;
        color: #aaa;
    }

    footer a img {
        margin-right: 50px;
        position: relative;
        width: 40PX;
        height: 40PX;
        filter: drop-shadow(1px 1px 1px #FFD700 );
        transition: transform 0.5s ease-in-out;
    }

    footer img:hover {
        transform: scale(1.3);
    }